{% extends "_layouts/main" %}

{% block main %}
    {% set productOptions = craft.variants().id(craft.app.request.getQueryParam('id')).one() %}
    <h1>{{ product.title }} - £{{ productOptions.price }}</h1>

    <p>{{ productOptions.title }}</p>

    <p>{{ product.wattage }}</p>

    {% for pc in product.colour.all() %}
        <div>{{ pc.colour }}</div>
    {% endfor %}

    {% if product.description %}
        <p>{{ product.description }}</p>
    {% endif %}

    {% if product.warrenty %}
        <p>Warrenty: {{ product.warrenty }}</p>
    {% endif %}

    {% if product.productImage.one() %}
        <img class="w-36 aspect-square" src="{{ product.productImage.one().url() }}" alt="">
    {% else %}
        <div class="w-36 aspect-square bg-slate-200 text-center text-9xl text-slate-800 ">?</div>
    {% endif %}

{% endblock %}